.profileContainer {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 30px;
    gap: 30px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

.userInfo .profileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary-500);
    object-fit: cover;
}

.consumptionInfo{
    font-size: 0.8rem;
    background-color: var(--tertiary-500);
    border-radius: 20px;
    padding: 5px 10px;
}